    <div class="footer">
        <small>&copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>,
            Coffee and Work. All rights reserved.
        </small>
    </div>
    </body>
</html>
