<% include ../partials/header %>

    <div class="column">

        <h1 style="text-align: center">Edit Comment</h1>

        <div style="width: 40%; margin: 25px auto;">
            <form action="/shops/<%= shop_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                <div class="form-control">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>

                <div class="form-control">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>

            </form>

            <a href="/shops">Go Back</a>

        </div>

    </div>

<% include ../partials/footer %>