.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.footer {
  position: relative;
  left: 0;
  top: 10px;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#delete-form {
  display: inline;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
